//	GLOBAL VARIABLES //
//	TYPOGRAPHY VARIABLES //
//	PAGE SPECIFIC VARIABLES //

//	COLOR VARIABLES //
$primary_color: #F25C27;
$primary_background: #2C2F36;
$secondary_color: #454545;
$accent_green: #00A65C;
$gray_text: #707070;


$primary_color_highlight: darken(#313139, 10%);
//	TYPOGRAPHY VARIABLES //
$base_html_font_size: 22px;
$base_html: 22;
//	PAGE SPECIFIC VARIABLES //