

//	HOME & NAVIGATION	//
header#cdr_header {
	margin-top: 30px;
	padding: 0;
	z-index: 100;
}

// #cdr_hdr_logo
#cdr_hdr_logo {
	height: 65px;
	padding: 0 20px;
}

nav {
	margin-bottom: 0;
}
nav.navbar.navbar-default {
	background: $primary_color 0 0 repeat;
	height: 100%;
	margin-bottom: 0;
	border-color: transparent;
	border-radius: 0;
	padding: 10px;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	border-radius: 0;
	color: white;
	margin-top: 20px;
	margin-bottom: 0;
	&:hover {
		background-color: black;
	}
}
#cdr_hdr_menu-text {
	display: block;
	@include rem(26);;
}
button:hover {
	background: black;
}


//SECTION: HOME, CAROUSEL
#intro {
	padding: 35px 15px;
	background: url('../img/bg-content.jpg');
	.center-block {
		padding: 0;
	}
}
#cdr_hm_carousel .carousel-inner {
	margin: 0 auto;
	display: block;
	width: 100%;
	div.item:first-of-type {
		background-size: contain;
	}
	img {
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}
// Carousel controls
a.left.carousel-control {
	background: url('../img/prev.png') 50% 50% no-repeat;
	height: 55px;
}
a.right.carousel-control {
	background: url("../img/next.png") 50% 50% no-repeat;
}
a.left.carousel-control, a.right.carousel-control {
	transform: translateY(-50%);
	top: 50%;
	opacity: 1;
	background-color: black;
	width: 40px;
	height: 40px;
	img {
		width: 40px;
		height: 40px;
	}
}

//CAROUSEL SLOGAN
#cdr_hm__carousel-slogan_ctr {
	padding: 0;
	margin: 50px 0 20px;
}
#cdr_hm__carousel-slogan {
	padding: 0 15px;
	h1 {
	@include rem(74);;
	color: $primary_color;
	font-weight: lighter;
	padding: 0;
	&::first-letter {
		font-weight: bolder;
	}
	+ p {
		color: $gray_text;
		@include rem(48);;
		padding: 0 0 10px 45px;
	}
}
}
.button {
	display: block;
	width: 180px;
}
#btn_download {
	background-color: $primary_color;
	padding: 10px 15px;
	color: white;
	letter-spacing: 0.05em;
	margin: 0 auto;
	@include transition(all, 0.3s, ease, 0);;
	&:hover {
		background-color: #DB420E;
		@include transition(all, 0.3s, ease, 0);;
	}
}

@media screen and (min-width: 620px) {
	#cdr_hm__carousel-slogan {
		display: inline-block;
		float: left;
		@include rem(74);;
		+ p {
			display: inline-block;
			float: right;
			border-left: 1px solid $gray_text
			+ a {
				display: inline-block;
				float: right;
			}
		}
	}
	#cdr_hm__carousel-text {
		display: inline-block;
		float: right;
		width: 50%;
		border-left: 1px solid gray;
	}

}
@media screen and (min-width: 620px) and (max-width: 767px) {
	#intro {
			height: 70%;
		}
}
@media screen and (min-width: 767px) {
	#intro {
		padding: 35px 15px 85px;
	}
}
//OUR WORK

section#folio {

	background-color: white;
	h1 {
		@include rem(78);;
		font-weight: lighter;
		color: $primary_color;
		margin: 0;
		padding: 25px 20px 10px;
	}
	.thumbnail {
		margin: 0;
		border: none;
		border-radius: 0;
		img {
			width: 100%;
			display: inline-block;
		}
	}
	#folio_list li {
		padding: 0;
		float: left;
		display: block;
		margin: 0 auto;
		&:nth-of-type(4n) {
			clear: none;
		}
		&:nth-of-type(7n) {
			clear: both;
		}
		&:last-of-type {
			clear: none;
		}
	}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	section#folio #folio_list li {
		&:nth-of-type(4n) {
			clear: both;
		}
		&:nth-of-type(5) {
			clear: none;
		}
		&:nth-of-type(7n) {
			clear: both;
		}
		&:last-of-type {
			clear: none;
		}
	}
}
@media screen and (min-width: 993px) {
	#folio {
		padding: 45px 85px;
	}
	section#folio #folio_list li {
		&:nth-of-type(5) {
			clear: both;
		}
		&:nth-of-type(7) {
			clear: none;
		}
	}
}