//	HOME & NAVIGATION	//
.cdr_header {
	background: #fff;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 1;
	}
#cdr_secondary-nav {
	text-align: right;
	margin-right: 30px;
	float: right;
	@include col-centered;;
}
.cdr_secondary-nav {

	li {
	display: inline-block;
	padding-right: 10px;
	&:first-of-type {
		margin-left: 0;
		}
	}
}
.cdr_primary-nav__trigger {
	z-index: 19;
	display: block;
	width: 40px;
  	position: absolute;
  	right: 0;
  	padding: 0;
	@include col-centered;;
}

.cdr_primary-nav__trigger .cdr_menu-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: $primary_color;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cdr_primary-nav__trigger .cdr_menu-icon::before, .cdr_primary-nav__trigger .cdr_menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $primary_color;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cdr_primary-nav__trigger .cdr_menu-icon::before {
  top: -5px;
}
.cdr_primary-nav__trigger .cdr_menu-icon::after {
  top: 5px;
}
.cdr_primary-nav__trigger .cdr_menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
  z-index: 16;
}
.cdr_primary-nav__trigger .cdr_menu-icon.is-clicked::before, .cdr_primary-nav__trigger .cdr_menu-icon.is-clicked::after {
  background-color: black;
  z-index: 16;
}
.cdr_primary-nav__trigger .cdr_menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cdr_primary-nav__trigger .cdr_menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
ul.cdr_primary-nav.is-visible {
	position: fixed;
		background-color: gray;
	width: 100%;
	height: 100%;
	z-index: 11;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
     @include transition(-webkit-transform, 1s, ease-out, 0);;
}
@media only screen and (max-width: 578px) {
	#cdr_secondary-nav {
		margin-right: 10px;
	}
	.cdr_secondary-nav li:last-of-type {
		display: none;
	}
}
@media only screen and (min-width: 579px) {
	nav#cdr_secondary-nav {
		padding-right: 10px;
		li {
			padding-right: 0;
			margin-right: -7px;
		}
	}
}
@media only screen and (min-width: 768px) {
	nav#cdr_secondary-nav {
		padding-right: 3.5em;
	}
  .cdr_primary-nav__trigger {
    padding-left: 1em;
    background-color: white;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cdr_primary-nav__trigger .cdr_menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
@media only screen and (min-width: 1024px) {
  .cdr_secondary-nav {
    width: 100%;
  }
}
@media only screen and (min-width: 1170px) {
  .cdr_header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cdr_header.is-fixed {
    position: fixed;
    top: -50px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cdr_header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

#cdr_primary-nav {
	hr {
		max-width: 80%;
		border-top: 2px solid darkgray;
		&:before {
			content: hr;
		}
	}
}
.cdr_primary-nav {
  overflow: hidden;
  opacity: 1;
  z-index: 2;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);

   @include transition(-webkit-transform, 1s, ease-in, 0);;

   #brand_logo {
   	position: absolute;
   	display: inline-block;
   	float: left;
   	top: 3px;
   	left: 3px;
   }
}
.cdr_primary-nav .is-visible  {

li {
  font-size: 1rem;
  margin: .2em 0; 
}
.cdr_primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
     @include transition(background, 1s, ease, 0);;
}
.no-touch .cdr_primary-nav a:hover {
  color: black;	
  background-color: $primary_color;
}
.no-touch .cdr_primary-nav a:visited {
	color: black;
	text-decoration: none;
	&:hover {
		color: white;
	}
}
.cdr_primary-nav .cdr_label {
  color: $gray_text_shadow;
  text-shadow: 0px 2px 3px darkgray;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.cdr_primary-nav .cdr_social-icon {
  display: inline-block;
  margin: 0 .4em;
}

ul.cdr_primary-nav.is-visible {
	z-index: 11;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
     @include transition(-webkit-transform, 1s, ease-out, 0);;
}
}
@media only screen and (min-width: 1170px) {
  .cdr_primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cdr_primary-nav .cdr_label {
    font-size: 16px;
    font-size: 1rem;
  }
}

//SECTION: INTRO, CAROUSEL-FADE
#cdr_intro {
	width: 100%;
	margin: 0 auto;
	height: 700px;	
	.center-block {
		padding: 0;
	}
}
#cdr_intro__title {

	position: absolute;
	top: 60px;
	opacity: 0.85;
	img {
			background-color: $primary_color;
		padding: 10px 10px 0;
	}
}
#carousel {
	position: relative;
	margin: 0 -35px;
}
@media screen and (min-width: 1200px) {
	#carousel {
		margin: 0 auto;
	}

}

.carousel-fade {
  .carousel-inner {
    .item {
	@include transition(opacity, 3.0s, ease-out, 0);;
      opacity: 0;
      transition-property: opacity;
      background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	width: 100%;
	margin: 0 auto;
	height: 700px;	
	.center-block {
		padding: 0;
	}
    }

    .active {
      opacity: 1;
      border: 2px solid black;
      @include transition(opacity, 3.0s, ease,0);;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
       @include transition(opacity, 3s, ease-in,0.5s);;
      
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
    @include transition(all, 3s, ease,0);;
  }
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {

  background: url('../img/work/wk-5-mx.jpg') center center;
}
.item:nth-child(2) {
  background: url('../img/slide-1.jpg') center center;}

.item:nth-child(3) {
	  background: url('../img/slide-2.jpg') center center;
}
.item:nth-child(4) {
  	background: url('../img/slide-3.jpg') center center;
}
.item:nth-child(5) {
  background: url('../img/slide-4.jpg') center center;}

.item:nth-child(6) {
	  background: url('../img/slide-5.jpg') center center;

}
.item:nth-child(7) {
  background: url('../img/slide-6.jpg') center center;}

.item:nth-child(8) {
	  background: url('../img/slide-7.jpg') center center;
}
.item:nth-child(9) {
	  background: url('../img/slide-8.jpg') center center;
}

a.carousel-control.right, a.carousel-control.left {
	background-image: none;
}
#carousel_nav {
	left: 50%;
	right: 0;
	text-align: center;
	bottom: 0px;
	li {
		border-color: transparent;
		opacity: 1;
		background-color: white;
		&.active {
			-webkit-transform: rotate(2rad);
			background-color: darkgray;
			border-color: 2px solid darkgray;
		}
	z-index: 10;
	}

}
//CAROUSEL SLOGAN
#cdr_intro__slogan {
	padding: 0;
	float: left;
	margin-left: -20px;
		h1 {
		@include rem(90);;
		color: $primary_color;
		font-weight: 300;
		padding: 0;
		&::first-letter {
		@include rem(85);;
		font-weight: 500;
		}
	+ p {
		color: $gray_text;
		@include rem(48);;
		padding: 0 0 10px 45px;
		}
	}
}
#cdr_intro__title {
	position: absolute;
	top: 120px;
	margin: 0;

	opacity: 0.8;
	img {
		position: absolute;
		bottom: 15px;
		padding: 0 10px 0;
		margin: -10px 0;
		background-color: #F25C27;
		opacity: 1;

	}
}

@media screen and (max-width: 1020px) {
	#cdr_intro__slogan-text {
		h1 {
			margin: 10px auto 0;
			@include rem(75);;
			letter-spacing: 0.15em;
			font-weight: 300;
			text-transform: uppercase;
			&::first-letter {
				font-weight: 800;
				@include rem(87);;
			}
			+ h2 {
				margin: 0;
				@include rem(40);;
				font-weight: 300;
				letter-spacing: 0.1em;
				padding-left: 0;
			}
		}
		p {
			@include rem(30);;
			padding: 20px 0 0 20px;
		}
	}
}

@media screen and (min-width: 800px) {
	#cdr_intro__slogan {
		margin-left: initial;
		margin-right: initial;
	}
	#cdr_intro__slogan-text {
		display: inline-block;
		float: left;
		@include rem(74);;
		h1 {
			float: left;
			display: block;
			clear: both;
		}
		h2 {
			float: left;
			display: block;
			clear: left;
		}
		#sub {
			float: LEFT;
		}
		+ p {
			display: inline-block;
			margin-right: -40px;
			float: right;
			clear: left;
			border-left: 1px solid $gray_text
			+ a {
				display: inline-block;
				float: right;
			}
		}
	}


}

//OUR WORK

section#folio {
	margin-bottom: 30px;
	background-color: white;
	h1 {
		@include rem(78);;
		font-weight: lighter;
		color: $primary_color;
		margin: 0;
		padding: 25px 20px 10px;
	}
	.thumbnail {
		margin: 0;
		border: none;
		border-radius: 0;
		img {
			width: 100%;
			display: inline-block;
		}
	}
	#folio_list li {
		padding: 0;
		float: left;
		display: block;
		margin: 0 auto;
		&:nth-of-type(4n) {
			clear: none;
		}
		&:nth-of-type(7n) {
			clear: both;
		}
		&:last-of-type {
			clear: none;
		}
	}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	section#folio #folio_list li {
		&:nth-of-type(4n) {
			clear: both;
		}
		&:nth-of-type(5) {
			clear: none;
		}
		&:nth-of-type(7n) {
			clear: both;
		}
		&:last-of-type {
			clear: none;
		}
	}
}
@media screen and (min-width: 993px) {
	#folio {
		padding: 45px 85px;
	}
	section#folio #folio_list li {
		&:nth-of-type(5) {
			clear: both;
		}
		&:nth-of-type(7) {
			clear: none;
		}
	}
}

//BANNER

#banner {
	margin-top: 50px;
	background: $gray_background_lighter;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	padding: 20px;
	h1 {
		color: $primary_color;
		@include rem(45);;
		padding-bottom: 25px;
		+ p {
			margin-bottom: 40px;
		}
	}
	a {
		margin-top: 20px;
		background-color: $primary_color;
		padding: 5px 25px;
		color: white;
	}
}

//BLOG

#blog {
	.row {
		margin: 0;
	}
	.cdr_hm__blog-category {
		h2, h3, h6 {
			color: $primary_color;
		}
		h2 {
			@include rem(48);;
		}
		font-weight: 300;
		margin-bottom: 70px;
		.cdr_hm__blog-date {
			padding: 0;
			h5 {
				padding: 0;
				color: $gray_text;
				@include rem(20);;
				&:after {
					content: ' |';
				}
			}
		}	
		.cdr_hm__blog-title {
			padding: 10px;
			@include rem(18);;
		}
		img {
			width: 100%;
			vertical-align: middle
		}
		p {
			color: $gray_text;
		}
		a {
			display: block;
			width: 100px;
			padding: 5px 10px;
			background-color: $primary_color;
			color: white;
			@include rem(20);;
		}
		.cdr_hm__blog-usr {
			padding: 0;
			margin-left: -20px;
			vertical-align: baseline;
		}
	}
}
	.cdr_hm_blog-dtls {
		padding: 10px;
		div:nth-of-type(2) {
			padding: 0;
		}
			div:last-of-type h6 {
				float: right;
				text-align: right;
			}
		}
		.cdr_hm__blog-cmmts {
			float: right;
			h6 {
			text-align: right;
		}
		}

#main_footer .site_container {
	.row {
		background: url('../img/bg-content.jpg');
		margin: 0;
		color: $primary_color;
		img {
			width: 100%;
		}
		p:first-of-type {
			color: white;
		}
		p:last-of-type {
			color: $gray_text;
		}
		a {
			color: $primary_color;
			list-style-type: 
		}
		#cdr_hm__links ul li {
			background-image: url("../img/marker-1.png") no-repeat;

		}
	}
	#cdr_hm__soc-icons {
		background-color: white;
		padding: 30px 0 0;
		float: right;
		div {
			display: inline-block;
			float: right;
			margin: 0 2px;
		}
	}
	#soc-icon-1 {
		display: inline-block;
		background-image: url("../img/soc-icon-1.png");
		height: 30px;
		width: 30px;
	}
	#soc-icon-2 {
		background-image: url("../img/soc-icon-2.png");
		height: 30px;
		width: 30px;
	}
	#soc-icon-3 {
		background-image: url("../img/soc-icon-3.png");
		height: 30px;
		width: 30px;
	}
	#soc-icon-4 {
		background-image: url("../img/soc-icon-4.png");
		height: 30px;
		width: 30px;
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #fff;
	h6 {
		position: absolute;
		text-align: right;
	}
	img {
		height: 30px;
	}
}